@media screen and (max-width: 1280px) {
  .right {
    width: 0 !important;
    height: 0 !important;
  }
  .left {
    width: 100%;
  }

  .maps {
    display: block !important ;
  }
}

.maps {
  display: none;
}

@media screen and (max-width: 375px) {
  .decor {
    height: 100px;
  }
  .decoration {
    padding: 14px 8px;
  }
  .header {
    width: 50px;
  }
  .header .strelki .swi-line {
    width: 50px;
  }
  .swiper-pagination-vertical.swiper-pagination-bullets
    .swiper-pagination-bullet,
  .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    transform: scale(0.7) rotate(45deg);
  }
  .header .burger {
    transform: scale(0.7);
  }
  .decoration {
    width: calc(100% - 50px);
  }
}

@media screen and (max-width: 1440px) {
  .four-left .four-left-wrapper .four-left-cont .menu .menu-img img {
    height: 240px;
    width: 240px;
  }
  .five-left .five-left-wrapper .five-left-cont .menu .forms {
    display: flex;
    justify-content: center;
  }
  .five-left .five-left-wrapper .five-left-cont .menu .forms .inputs {
    height: 187px;
  }
  .five-left .five-left-wrapper .five-left-cont .menu .forms textarea {
    margin-top: 15px;
  }
  .five-left .five-left-wrapper .five-left-cont .menu .forms button {
    margin-top: 15px;
    width: 322px;
  }
  .five-left .five-left-wrapper .five-left-cont .menu {
    height: 95%;
  }
}

@media screen and (max-width: 1366px) {
  .four-left .four-left-wrapper .four-left-cont .menu .menu-img img {
    height: 220px;
    width: 220px;
  }
}

@media screen and (max-width: 1024px) {
  .five-left .five-left-wrapper .five-left-cont .menu .forms .inputs {
    height: 217px;
    margin-right: 20px;
    justify-content: space-between;
  }
  .six-left .six-left-wrapper .logo-mini,
  .five-left .five-left-wrapper .logo-mini,
  .second-left .second-left-wrapper .logo-mini,
  .three-left .three-left-wrapper .logo-mini,
  .four-left .four-left-wrapper .logo-mini {
    right: 50%;
    transform: translateX(50%);
    top: 60px;
    height: 100px;
    width: 100px;
  }
  .maps {
    width: 80%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .first-left .first-left-wrapper .left-block .left-back {
    width: 471.19px;
    height: 189.31px;
    font-size: 20px;
  }
  .first-left .first-left-wrapper .left-block .left-back span {
    margin-top: 50px;
  }
  .five-left .five-left-wrapper .five-left-cont .menu .forms .inputs {
    margin-right: 0 !important;
  }
  .five-left .five-left-wrapper .five-left-cont .menu .forms .inputs {
    height: 187px;
  }
  .four-left .fourImage .fourImageWrapper .fourImg {
    width: 100% !important;
    height: initial !important;
  }
  .four-left .fourImage .fourImageWrapper {
    padding-right: 92px;
  }
}

@media screen and (max-width: 425px) {
  .decor {
    height: 120px;
  }
  .decoration {
    padding: 14px 8px;
  }
  .header {
    width: 50px;
  }
  .first-left .first-left-wrapper .left-block .left-back{
    width: 268.19px;
    height: 107.31px;
  }
  .first-left .first-left-wrapper {
    padding-right: 48px;
  }
  .first-left .first-left-wrapper .left-block .left-back span{
    padding: 0;

  }
  .first-left .first-left-wrapper .left-block .left-back span{
    font-size: 21px;
    line-height: 26px;
    margin-top: 35px;
  }
  .first-left .first-left-wrapper .left-block img{
    height: 200px;
    width: initial !important;
  }
  .header .strelki .swi-line{
    width: 50px;
  }
  .three-left .three-left-wrapper .three-left-cont .menu .menu-mer span,.second-left .second-left-wrapper .sec-left-cont .menu .menu-name .menu-price span{
    font-size: 27px;
  }
  .second-left .second-left-wrapper .sec-left-cont .menu .menu-name .menu-price h4{
    font-size: 25px;
  }
  .second-left .second-left-wrapper .sec-left-cont .menu .menu-name .menu-price h4{
    font-size: 16px;
  }
  .four-left .four-left-wrapper .four-left-cont,.second-left .second-left-wrapper .sec-left-cont,.three-left .three-left-wrapper .three-left-cont{
    width: 95%;
    padding-right: 50px;
  }
  .second-left .second-left-wrapper .sec-left-cont h2,.three-left .three-left-wrapper .three-left-cont h2{
    font-size: 38px;
  }
  .second-left .second-left-wrapper .sec-left-cont .menu .menu-name{
    margin-bottom: 20px;
  }
  .four-left .four-left-wrapper .four-left-cont .menu .menu-img{
    width: 49%;
    height: initial !important;
  }
  .four-left .four-left-wrapper .four-left-cont .menu .menu-img img{
    width: 100%;
    height: 100%;
  }
  .six-left .six-left-wrapper .six-left-cont h2,.five-left .five-left-wrapper .five-left-cont h2,.second-left .second-left-wrapper .sec-left-cont h2,.four-left .four-left-wrapper .four-left-cont h2, .three-left .three-left-wrapper .three-left-cont h2{
    font-size: 30px !important;
  }
  .five-left .five-left-wrapper .five-left-cont h2{
    margin-top: 20px;
  }
  .five-left .five-left-wrapper .five-left-cont .menu .menu-bron h2{
    margin-top: 0px;
  }
  .five-left .five-left-wrapper .five-left-cont .menu .forms .inputs input{
    height: 40px;
    margin: 0;
    
  }
  .five-left .five-left-wrapper .five-left-cont .menu .forms .inputs{
    height: 131px;
  }
  .second-left .second-left-wrapper .logo-mini{
    display: none;
  }
  .three-left .three-left-wrapper .three-left-cont h2{
    margin-top: 20px;
  }
  .three-left .three-left-wrapper .logo-mini{
    display: none;
  }
  .three-left .three-left-wrapper .three-left-cont{
    margin-top: 10px;
  }
}
