.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide .content {
  height: 100%;
  width: 100%;
  background: green;
  display: flex;
  align-items: center;
  justify-content: center;
}
.strelki{

}
.swiper-button-prev, .swiper-button-next {
  /* background: red; */
  position: static !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 50% !important;
  
}


.pagination-burger{
  height: 100px;
  background: red;
  width: 100px;
}